---

---

<section
  id="nosotros"
  class="py-20 bg-white min-h-screen flex flex-col justify-center"
>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="lg:grid lg:grid-cols-2 lg:gap-16 items-center">
      <div>
        <h2
          class="text-3xl font-black text-brand-dark tracking-tight sm:text-4xl mb-6"
        >
          5 Años de Trayectoria Industrial
        </h2>
        <div class="prose prose-lg text-gray-500">
          <p class="mb-4">
            En TC Contrapesos nos dedicamos a la fabricación de contrapesos de
            plomo estandarizados y a medida para el balanceo vehicular. Nuestra
            planta operativa cuenta con procesos estructurados para garantizar
            entregas en volumen sin comprometer la tolerancia y el peso exacto.
          </p>
          <p>
            Entendemos las necesidades del mecanico y gomero argentino. Por eso,
            nuestros productos aseguran una adherencia perfecta y un calce
            preciso, optimizando el tiempo de trabajo en el taller y prolongando
            la vida útil del neumático.
          </p>
        </div>

        <div class="mt-8 grid grid-cols-2 gap-4">
          <div class="border-l-4 border-brand-primary pl-4">
            <p class="text-2xl font-bold text-brand-dark">+500</p>
            <p class="text-sm font-medium text-gray-500 uppercase">
              Talleres abastecidos
            </p>
          </div>
          <div class="border-l-4 border-brand-primary pl-4">
            <p class="text-2xl font-bold text-brand-dark">100%</p>
            <p class="text-sm font-medium text-gray-500 uppercase">
              Garantía de calidad
            </p>
          </div>
        </div>
      </div>

      <div class="mt-12 lg:mt-0">
        <div
          class="bg-orange-50/50 border border-orange-100 aspect-video rounded-lg shadow-inner flex items-center justify-center relative overflow-hidden group"
        >
          <img
            src={`${import.meta.env.BASE_URL}Contrapesos.png`}
            alt="Planta Industrial de TC Contrapesos"
            class="w-full h-full object-cover"
          />
          <div
            class="absolute inset-0 bg-brand-primary/5 group-hover:bg-transparent transition-colors duration-300"
          >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
