---

---

<section
  id="inicio"
  class="relative min-h-screen flex items-center justify-center pt-20 overflow-hidden bg-brand-dark"
>
  <div class="absolute inset-0 z-0">
    <img
      src="https://imgs.search.brave.com/PtDX8mDDw1yHL2iXhLfut6MrlfLLcjWJtAD5OiJL78E/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9yZXZv/c2hvcC5jb20ucGUv/d3AtY29udGVudC91/cGxvYWRzLzIwMjQv/MTEvYWxpbmVhY2lv/bi1sbGFudGFzLWRl/ZmluaWNpb24ucG5n"
      alt="Balanceo de rueda"
      class="w-full h-full object-cover opacity-40"
    />
  </div>
  <div
    class="relative z-10 w-full max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 text-center"
  >
    <span
      class="inline-block py-1 px-3 rounded-full bg-orange-100 bg-opacity-70 text-brand-primaryHover text-sm font-semibold tracking-wider mb-6 uppercase"
    >
      Fabricación Nacional
    </span>
    <h1
      class="text-4xl tracking-tight font-black text-white drop-shadow-md sm:text-5xl md:text-6xl max-w-4xl mx-auto leading-tight"
    >
      Contrapesos de Plomo de Alta Precisión para <span
        class="text-brand-primary drop-shadow-sm">Balanceo Automotor</span
      >
    </h1>
    <p
      class="mt-6 max-w-2xl mx-auto text-xl text-gray-200 font-medium drop-shadow-sm"
    >
      Soluciones robustas y confiables. Venta exclusiva por mayor para gomerías,
      talleres y red de distribuidores en todo el país.
    </p>
    <div
      class="mt-10 max-w-sm mx-auto sm:max-w-none sm:flex sm:justify-center gap-4"
    >
      <a
        href="/public/catalogo-contrapesos-2026.pdf"
        download
        class="w-full flex items-center justify-center px-8 py-4 border border-transparent text-base font-semibold rounded-md text-white bg-brand-primary hover:bg-brand-primaryHover md:py-4 md:text-lg md:px-10 shadow-lg hover:shadow-xl transition-all h-14 sm:w-auto"
      >
        <svg
          class="w-5 h-5 mr-2"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"
          ></path></svg
        >
        Descargar Catálogo (PDF)
      </a>
      <a
        href="#contacto"
        class="w-full flex items-center justify-center px-8 py-4 border-2 border-white text-base font-semibold rounded-md text-white bg-transparent hover:bg-white hover:text-brand-dark md:py-4 md:text-lg md:px-10 transition-colors h-14 sm:w-auto mt-4 sm:mt-0"
      >
        Hacer un pedido
      </a>
    </div>
  </div>
</section>
