---
import ProductCard from './ProductCard.astro';
---

<section
  id="productos"
  class="py-20 bg-gray-50 border-t border-gray-100 border-b min-h-screen flex flex-col justify-center"
>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="text-center max-w-3xl mx-auto mb-16">
      <h2
        class="text-base font-semibold text-brand-primary tracking-wide uppercase"
      >
        Catálogo Estandarizado
      </h2>
      <p
        class="mt-2 text-3xl leading-8 font-black tracking-tight text-brand-dark sm:text-4xl"
      >
        Nuestras Soluciones
      </p>
      <p class="mt-4 max-w-2xl text-xl text-gray-500 mx-auto">
        Fabricados con plomo de primera fundición, <br />garantizando el
        balanceo ideal para cada tipo de rodado.
      </p>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <!-- Producto 1 -->
      <ProductCard
        title="Contrapeso Autoadhesivo"
        imgSrc={`${import.meta.env.BASE_URL}/contrapeso-autoadesivo.png`}
      >
        Cinta doble faz de alta resistencia. Tiras fraccionables para
        llantas de aleación en autos y camionetas.
      </ProductCard>

      <!-- Producto 2 -->
      <ProductCard
        title="Contrapeso universal de plomo (Clip)"
        imgSrc={`${import.meta.env.BASE_URL}/contrapeso-universal.png`}
      >
        Clip de plomo. Diseñado para llantas de acero con agarre seguro ante
        vibraciones.
      </ProductCard>

      <!-- Producto 3 -->
      <ProductCard
        title="Contrapeso Aleación"
        imgSrc={`${import.meta.env.BASE_URL}/contrapeso-aleación.png`}
      >
        Descripción del producto .
      </ProductCard>
    </div>

    <div class="mt-12 text-center">
      <a
        href={`${import.meta.env.BASE_URL}/catalogo-contrapesos-2026.pdf`}
        download
        class="text-brand-primary font-semibold hover:text-brand-primaryHover flex items-center justify-center"
      >
        Ver ficha técnica completa en el PDF
        <svg
          class="w-4 h-4 ml-1"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M14 5l7 7m0 0l-7 7m7-7H3"></path></svg
        >
      </a>
    </div>
  </div>
</section>
